:root {
  --juce-orange: #f85a00;
  --nightmare: #132530;
  --nightmare-light: #1f3340;
  --smoke-gray: #f5f7fa;
  --white: #ffffff;
  --black: #171718;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 300ms ease-in-out;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--smoke-gray);
}

.container {
  width: 100%;
  padding: 0 20px;
}

button {
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
}

/**! TIMER !**/

.timer-clock {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 50px;
}

.timer-buttons {
  display: flex;
  gap: 15px;
}

.active-btn {
  background-color: var(--black);
  color: var(--white);
  transition: all 200ms ease-out;
  animation: animBtn 300ms ease-in-out;
}

.inactive-btn {
  background-color: var(--smoke-gray);
  color: var(--black);
  transition: all 200ms ease-out;
}

.ready-btn {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

@keyframes animBtn {
  0% {
    scale: 1;
  }

  20% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }
}

.section-timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 30px 40px 30px;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.users-wrap {
  width: 100%;
}

.ready-users {
  width: 100%;
  color: rgb(54, 173, 31);
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.user {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: animReady 100ms ease-in;
}

.check-icon {
  width: 20px;
}

@keyframes animReady {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 20px;
    opacity: 1;
  }
}

.ready-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* LOADER */

.loader-wrap {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.hide-loader {
  display: none;
}

.loader {
  position: relative;
  bottom: 1px;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -6px;
}

.jimu-primary-loading:after {
  left: 6px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: var(--black);
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 2px;
  height: 5px;
  border-radius: 10px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 var(--black);
    height: 5px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -5px var(--black);
    height: 8px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 var(--black);
    height: 5px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -5px var(--black);
    height: 8px;
  }
}

/* STEPS */

.section-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.step-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}

.step-item div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.step {
  font-weight: 500;
}

.time {
  font-weight: 300;
  font-size: 14px;
}

.delete-btn {
  background-color: rgb(230, 14, 14);
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1;
}

.list-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 350px;
  overflow: hidden;
  gap: 20px;
  display: none;
}

.reset-btn {
  padding: 20px 40px;
  font-size: 14px;
  line-height: 1;
  background-color: var(--white);
  color: var(--black);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.send-btn {
  padding: 20px 40px;
  font-size: 14px;
  line-height: 1;
  background-color: var(--black);
}

.btns-list-visible {
  display: flex;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 300ms ease-in-out;
}

.done-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 0.7;
  animation: doneAnim 100ms ease-in forwards;
  gap: 5px;
}

.done-icon {
  width: 30px;
}

@keyframes doneAnim {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

.error-message {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
}

.loader-backdrop {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--black) 94%, #0000) top/8px
      8px no-repeat,
    conic-gradient(#0000 30%, var(--black));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

/* MODAL */

.reset-modal {
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 60px 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.reset-modal p {
  font-size: 24px;
}

.reset-modal div {
  display: flex;
  gap: 10px;
}

.reset-modal button {
  width: calc((100% - 10px) / 2);
}

.no-btn {
  background-color: var(--black);
}

.yes-btn {
  background-color: var(--smoke-gray);
  color: var(--black);
}

/* TASK */

.task-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.edit-btn {
  padding: 0;
  position: absolute;
  right: 30px;
}

.username {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.task-description {
}

.task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.task-form-hidden {
  display: none;
}

.task-input {
  width: 100%;
  padding: 20px 20px;
  font-size: 16px;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgba(99, 99, 99, 0.3);
  transition: border 200ms ease-in-out;
}

.task-input::placeholder {
  opacity: 0.6;
}

.task-input-required {
  border: 1px solid rgb(230, 14, 14);
}

.save-btn {
  width: 100%;
  padding: 20px 0;
}

/* NAVIGATION */

header {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;
  margin: 30px 0;
}

nav button {
  padding: 0;
  margin: 0 30px;
  color: var(--black);
}

.nav-name {
  font-weight: 500;
  font-size: 16px;
}

/* ALERTS */

.alert {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.alert-error {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--black);
}

/* ROOMS */

.rooms-list {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 100px auto;
}

.room-item {
  background-color: var(--white);
  border-radius: 15px;

  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.room-item a {
  width: 100%;
  padding: 20px;
  color: var(--black);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.room-indicator {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #40c900;
  box-shadow: rgba(0, 223, 0, 0.3) 0px 0px 0px 5px;
}

/* LOGIN */

.login-form {
  width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-label {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-input {
  width: 100%;
  padding: 20px 20px;
  font-size: 16px;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgba(99, 99, 99, 0.3);
  transition: border 200ms ease-in-out;
}

.login-btn {
  width: 100%;
}

.login-input-required {
  border: 1px solid rgb(230, 14, 14);
}
