:root {
  --juce-orange: #f85a00;
  --nightmare: #132530;
  --nightmare-light: #1f3340;
  --smoke-gray: #f5f7fa;
  --white: #ffffff;
  --black: #171718;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--smoke-gray);
}

.container {
  width: 100%;
  padding: 0 20px;
}

button {
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
}

/**! TIMER !**/

.timer-clock {
  font-size: 48px;
  font-weight: 300;
}

.timer-buttons {
  display: flex;
  gap: 15px;
}

.active-btn {
  background-color: var(--black);
  color: var(--white);
  transition: all 400ms ease-out;
}

.inactive-btn {
  background-color: var(--smoke-gray);
  color: var(--black);
  transition: all 400ms ease-out;
  animation: animBtn 400ms ease-in-out;
}

@keyframes animBtn {
  0% {
    scale: 1;
  }

  20% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }
}

.section-timer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px 30px;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
